.product-detail {
    position: relative;
    padding: 0 48px 50px;
    overflow: hidden;
}
.product-detail__title {
    color: #002a3c;
    font-size: 4.2em;
    font-weight: 500;
    margin: 30px 0;
    display: block;
}
.product-detail__banner {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 36px 0;
}
.product-detail__img {
    width: 100%;
}
.product-detail__code {
    position: absolute;
    margin-left: 57px;
    color: #000;
    font-size: 6.4rem;
    font-weight: 500;
    align-self: center;
}
.product-detail__button {
    margin: 30px 30px 30px 0;
    display: inline-block;
}
