.contacts-item {
  color: #1076bc;
  margin: 44px 0;}
  .contacts-item__city {
    font-size: 1.6rem; }
  .contacts-item__tel {
    font-size: 3.2rem;
    font-weight: normal;
    margin: 7px 0 10px;
    display: block; }
  .contacts-item__map {
      height: 190px;
  }
  .contacts-item__address {
    position: relative;
    color: #000;
    font-size: 1.6rem;
    font-style: normal;
    padding: 13px 35px;
    line-height: 1.4; }
  .contacts-item__icon {
    position: absolute;
    top: 11px;
    left: 1px; }
@media (max-width: 1600px) {
    .sidebar-contacts {
        margin: 0 15px;
    }
    .contacts-item__tel {
        font-size: 2.7rem;
    }
}
@media (max-width: 1366px) {
    .contacts-item__tel {
        font-size: 2.6rem;
    }
}
