.filter {
  width: 24.3%;
  padding: 0 35px 0 50px;
  border-left: 2px solid #f5f5f5;
  margin-left: -3px;
  order: 2; }
  .filter__item {
    margin-bottom: 47px; }
  .filter__title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: normal;
    display: block;
    margin: 36px 0 21px; }
  .filter-search {
      position: relative; }
    .filter-search .search-form__submit {
        right: 0; }
  .filter .search-form {
    margin: 35px 0;
    display: block; }
    .filter .search-form__input {
      padding: 0 25px;
      font-size: 1.6rem; }
  .filter__button {
    margin: 27px 0;
    display: inline-block; }
@media (max-width: 768px) {
    .filter {
        width: 100%;
    }
    .filter__button {
        margin: 0 0 27px;
    }
}
