.product {
  position: relative;
  width: 75.7%;
  padding: 20px 0; }
  .product-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    border-bottom: 2px solid #f5f5f5; }
  .product__title {
    padding: 0 48px; }
  .product__button {
    margin: 11px 48px; }

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin: 20px 0;
  width: 100%; }
  .product-list__item {
    width: 33.3%;
    border: 2px solid #f5f5f5;
    border-left: none;
    margin-bottom: -1px; }
  .product-list__link {
    position: relative;
    color: #000;
    font-size: 2.4rem;
    text-decoration: none;
    padding: 154px 48px 75px;
    display: block; }
  .product-list__img {
    position: absolute;
    top: 34px;
    display: block; }

@media (max-width: 1600px) {
    .product-list__link {
        font-size: 2.3rem;
        padding: 154px 18px 75px;
    }
}
@media (max-width: 768px) {
    .product-wrap {
        flex-flow: column wrap;
        border-bottom: 0;
    }
    .product {
        width: 100%;
        border-bottom: 2px solid #f5f5f5;
    }
    .product-list__item {
        width: 50%;
    }
    .product-list__link {
        font-size: 2rem;
    }
    .product__button {
        margin: 0 48px;
        display: inline-block;
    }
}
