.product-pagination {
    padding: 0 45px;
    display: inline-block;
    vertical-align: middle;
}
.product-pagination__item {
    color: #000;
    font-size: 1.6rem;
    text-decoration: none;
    font-weight: normal;
    border-radius: 100%;
    background: transparent;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
    padding: 10px;
}
.product-pagination__item:last-child {
    margin-right: 0;
}
.product-pagination__item_selected {
    background: #f5f5f5;
    width: 58px;
    height: 58px;
    line-height: 38px;
}
.product-pagination__item_disabled {
    opacity: 0.5;
}
.product-pagination__item_prev,
.product-pagination__item_next {
    width: 9px;
    height: 13px;
    background: url('images/pagination.png')no-repeat center 4px;
}
.product-pagination__item_next {
    background-position: center -23px;
}
