.partners-slider {
  padding: 50px 0;
  margin-left: 70px; }
  .partners-slider-wrap {
    position: relative; }
  .partners-slider .swiper-wrapper {
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
                -ms-grid-row-align: center;
            align-items: center; }
  .partners-slider .swiper-slide {
    height: auto;}
  .partners-slider-buttons {
    position: absolute;
    top: -77px;
    right: -12px; }
  .partners-slider-prev, .partners-slider-next {
    width: 58px;
    height: 58px;
    border-radius: 100%;
    display: inline-block;
    margin-left: 10px;
    background: url("images/partners-slider-caret.png") no-repeat 23px center #f5f5f5; }
    .partners-slider-prev.swiper-button-disabled, .partners-slider-next.swiper-button-disabled {
      opacity: 0.5; }
  .partners-slider-next {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

@media (max-width: 768px) {
    .partners-slider {
        margin: 0;
    }
    .partners-slider__img {
        display: block;
        margin: 0 auto;
    }
}
