.breadcrumbs {
    padding: 0 48px;
    margin: 20px 0;
}
.breadcrumbs__item {
    position: relative;
    color: #002a3c;
    font-size: 1.4rem;
    display: inline-block;
}
.breadcrumbs__item:after {
    content: '/';
    margin: 0 5px;
    display: inline-block;
}
.breadcrumbs__item:last-of-type:after {
    display: none;
}
.breadcrumbs__link {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #002a3c;
}
