.aside-nav:not(.aside-nav_dropdown) {
    border: 1px solid #d6dcdf;
    border-width: 1px 0;
}
.aside-nav__link {
    color: #3097dd;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    padding: 33px 45px;
    border: 1px solid #d6dcdf;
    border-width: 1px 0;
    display: block;
}
.aside-nav__link_selected {
    background: #3097dd;
    color: #fff;
    border: 1px solid #3097dd;
}
.aside-nav__link_main {
    color: #1076bc;
    font-size: 2.4rem;
    text-transform: uppercase;
}
