.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .header-nav__item {
    width: 25%;
    border: 1px solid #fff; }
    .header-nav__item:last-of-type {
      border-right: 0; }
    .header-nav__item_logo {
        display: none;
    }
  .header-nav__link {
    position: relative;
    color: #fff;
    background: #1076bc;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    height: 190px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 57px; }
    .header-nav__link:hover,
    .header-nav__link_active {
      background: #43a9ef; }
  .header-nav__icon {
    position: absolute;
    width: 13%;
    min-width: 50px;
    top: 53px;
    margin-left: 2px;
    background-image: url("images/header-nav.png");
    background-repeat: no-repeat;
    z-index: 1;}
    .header-nav_dropdown {
        display: none;
    }

@media (max-width: 768px) {
    .header-nav {
        position: relative;
        align-items: stretch;
    }
    .header-nav__item {
        width: 20%;
        display: flex;
        border-bottom: 0;
    }
    .header-nav__item:first-child {
        border-left: 0;
    }
    .header-nav__item_logo {
        display: flex;
        background: #1076bc;
    }
    .header-nav__item_logo .header-nav__icon {
        width: 50%;
    }
    .header-nav__item_logo>.header-nav__link {
        background: inherit;
    }
    .header-nav__link {
        padding: 0;
        height: auto;
    }
    .header-nav__link:hover,
    .header-nav__link_active {
        background-color: #0e68a5;
    }
    .header-nav__icon {
        position: static;
        width: 30%;
        padding: 20px 0;
    }
    .header-nav__text {
        display: none;
    }

    .header-nav_dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
        z-index: 3;
    }
    .header-nav_dropdown .header-nav__item {
        width: 100%;
        border: none;
    }
    .header-nav_dropdown .header-nav__link {
        padding: 10px 6%;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .header-nav_dropdown .header-nav__icon {
        display: none;
    }
    .header-nav_dropdown .header-nav__text {
        display: block;
    }
}
