.main-slider {
  height: 577px; }
  .main-slider__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .main-slider__content {
    max-width: 57%;
    padding: 83px 90px; }
  .main-slider__title {
    color: #000;
    font-size: 6.4rem;
    font-weight: 500;
    line-height: 1.05;
    text-transform: uppercase; }
  .main-slider__descr {
    font-size: 1.6rem;
    padding: 0 4px;
    line-height: 1.7;
    margin: 12px 0; }
  .main-slider__pagination {
    text-align: left;
    bottom: 67px !important;
    padding: 0 90px; }
    .main-slider__pagination .swiper-pagination-bullet {
      vertical-align: middle;
      background: #1076bc;
      opacity: 1;
      margin-right: 34px !important;
      -webkit-transition: all .2s ease;
      transition: all .2s ease; }
    .main-slider__pagination .swiper-pagination-bullet-active {
      -webkit-transform: scale(1.8);
              transform: scale(1.8);
      background: #1076bc; }
@media (max-width:768px) {
    .main-slider__content {
        max-width: none;
        padding: 6%;
    }
    .main-slider__pagination {
        padding: 0 6%;
        text-align: left;
    }
}
