.news-list__item {
  margin-bottom: 37px; }

.news-list__link {
  color: #000;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.015em;
  border-bottom: 1px solid #b0b0b0; }

.news-list__descr {
  font-size: 1.6rem;
  margin: 14px 0;
  line-height: 1.8; }

.news-list__date {
  color: #1076bc;
  font-size: 1.6rem;
  padding: 6px 5px;
  border-radius: 100px;
  background: #f5f5f5;
  display: inline-block; }

.news-list__author-logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px; }
@media (max-width: 768px) {
    .content-wrap__item_half {
        border-bottom: 2px solid #f5f5f5;
    }
    .content-wrap__item_half:last-of-type {
        border-bottom: 0;
    }
    .news-list {
        margin: 20px 0;
        padding: 0 0 8px;
    }
    .news-list__link {
        border-bottom: 0;
    }
    .news-list__item:last-of-type {
        margin-bottom: 14px;
    }
}
